@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

html,body{
	height: 100%;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

header{
	/*max-height: 900px;*/
	width: 100%;
	height: 90vh;
	background-size: cover;
	background-position: center;
	background-image: url(img/capa.png);
	padding: 40px 2%;
}

.logo{
	float: left;
	width: 160px;
	height: 40px;
	margin-right: 150px;
}

.logo img{
	width: 150px;
}

nav.mobile-menu{
	display: none;
	
}

input[type = checkbox]{
	display: none;
}


header nav{
	float: right;
}

header nav.desktop-menu ul{
	list-style: none;
}

header nav.desktop-menu li{
	display: inline-block;
	margin: 0 20px;
}

header nav.desktop-menu a{
	text-decoration: none;
	color: white;
	font-family: "Open sans", sans-serif;
}

.chamada1{
	max-width: 600px;
	float: right;
	margin: 180px 0px;
	
}

.chamada1 h2{
	font-size: 40px;
	color: white;
	font-weight: 300;
	font-family: 'Open sans', sans-serif;
}

.chamada1 p{
	font-size: 15px;
	font-family: 'Open Sans';
	letter-spacing: 1px;
	font-weight: 300;
	color: white;
	line-height: 25px;
	margin-top: 7px;
}

 .section-1{
 	width: 100%;
 	/*padding: 50px 0;*/
 	background-color: #4B2C66;
 	display: flex;
 	justify-content: space-evenly;
 	flex-wrap: wrap;
 	padding: 0 20px;
 }

 .text-section1{
 	color: white;
 	margin-top: 50px;
 }

 .text-section1 h2{
 	font-weight: 300;
 	font-family: "Open Sans";
 	margin-top: 20px;
 	margin-bottom: 15px;
 }

 .text-section1 p{
	font-weight: 300;
 	font-family: "Open Sans";
 	margin-bottom: 16px;
 }

 .text-section1 ul{
 	list-style: inside;
 	margin-top: 10px;
 }

 .text-section1 ul li{
 	margin-bottom: 13px;
 	font-weight: 300;
 	font-family: "Open Sans";
 }

 .text-section1 button{
 	padding: 13px 20px;
 	margin-top: 6px;
 	border: none;
 	color: white;
 	background-color: #FF7A38;
 	font-size: 15px;
 	border-radius: 16px;
 	font-weight: 300;
 	font-family: "Open Sans";
 	cursor: pointer;
 	margin-bottom: 30px;
 }

 .img-section1{
 	width: 500px;
 	height: 430px;
 	/*margin-left: 100px;*/
 	background-size: 100% 100%;
 	background-image: url(img/device.png);
 	/*margin-top: 40px;*/

 }

.sessao-2{
	padding: 60px 2%;
	background-color: white;
	text-align: center;
}

 .sessao-2 h2{
 	margin-top: 22px;
 	color: #472663;
 	font-weight: 300;
 }

 .sessao-2 p{
 	margin-top: 30px;
 	font-style: italic;
 	font-size: 18px;
 	line-height: 30px;
 	max-width: 900px;
 	display: inline-block;
 }

 .sessao-2 img{
 	width: 100%;
 	margin-top: 20px;
 	border-radius: 10px;
 	position: relative;
 	top: 100px
 }

 .sessao-2 .container{
 	max-width: 1000px;
 }


.sessao-3{
	width: 100%;
}

.parte-1{
	float: left;
	width: 50%;
	padding: 140px 0 90px 0;
	background-color: #835fd7;
	color: white;
}


.parte-1 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.parte-1 p{
	font-size: 15px;
	color: white;
	line-height: 26px;
	margin-top: 10px;
}


.wraper-parte1{
	max-width: 500px;
	float: right;
	margin-right: 20px;
}

.parte-2{
	padding: 150px 20px;
	width: 50%;
	float: right;
}

.parte-2 h2{
	margin-bottom: 4px;
}

.autor-text span{
	color: gray;
	font-style: italic;
	margin-top: 10px;
}

.parte-2{
	height: 370px;
	width: 50%;
	background-color: white;
}

.flex-parte2{
	display: flex;

}

.parte-2 p{
	max-width: 700px;
	margin-top: 4px;
	line-height: 27px;
	color: gray;
}

.autor-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: gray;
	margin-left: 20px;
	background-image: url(img/actor1.png);
	background-size: cover;
	background-position: center;
}

.bolinhas{
	display: flex;
}

.balls{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ccc;

	margin-top: 4px;
}

.bolinhas div:first-of-type{
	background-color: black;
}

.sessao-4{

	width: 100%;
	padding: 110px 10px;
	background-color: #4D2B66;
	flex-wrap: wrap;
	display: flex;
}

.flex-content4{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.content4{
	width: 500px;
	padding: 40px 0;
	color: white;

}

.content4 h2{
	margin-bottom: 10px;
}



.map{
/*	width: 310px;*/
	width: 100%;
	height: 400px;
	background-color: white;
	border: 5px solid #D5D0D6;
	margin-top: 12px;
}

.map-content{

	width: 400px;
	margin-left: 20px;
}

.map-content h2{
	color: white;
}

.content4 p{
	margin-bottom: 15px;
	width: 100%
}

.content4 button{
	padding: 10px 50px;
	border: none;
	color: white;
	background-color: #FF7A39;
	margin-top: 13px;
	border-radius: 20px; 
}

.content4 input{
	display: block;
	width: 100%;
	padding: 15px 10px;
	margin-bottom: 10px;
	border: none;
}

.content4 textarea{
	width: 100%;
	border: none;
	padding: 65px 10px;
}

footer{
	width: 100%;
	padding: 40px 0;
	background-color: #192125;
	display: flex;
	justify-content: space-around;
	color: white;
	flex-wrap: wrap;
}

footer p{
	margin-left: 10px;
	margin-top: 15px;
	font-size: 18px;
}



 /*MEDIA QUERY*/

 @media screen and (max-width: 1024px){
 	.img-section1{
 		margin-top: 40px;
 		
 	}
 }

 



@media screen and (max-width:  980px){
	.sessao-4{
		justify-content: center;
	}

	.map-content{
		margin-top: 20px;
		margin-right: 20px;
	}
}


@media screen and (max-width:  768px){

.label{
	width: 32px;
	height: 32px;
	background-image: url(img/menu.png);
	float: right;
	display: none;

}

input[type = checkbox]:checked ~ nav.mobile-menu {
	display: block;
}

nav.mobile-menu ul{
	position: absolute;
	width: 100%;
	left: 0;
	top: 80px;
	color: white;
	list-style-type: none;
	text-align: center;
	background-color: white;
}

nav.mobile-menu ul li{
	border-bottom: solid 1px black;
	padding: 8px 0;
}

nav.mobile-menu ul li a{
	text-decoration: none;
	color: black;
}

nav.mobile-menu ul li:hover{
background-color: rgb(230,230,230);
}




	header{
		height: auto;
		min-height: 150vh;
		width: 100%;
	}

.label{
	margin-top: -2px;
	display: block;

}

.logo{
	margin-bottom: 30px;

}

	nav.desktop-menu{
		display: none;
	}

	nav.mobile-menu {
		display: none;
	}

	.chamada1{
	max-width: 600px;
	/*float: right;*/
	margin: 180px 0px;
	margin-right: 130px;
	}

	.img-section1{
		display: none;
	}

	.text-section1 button{
		margin-top: 20px;
		
	}

	.btn{
		
		text-align: center;
	}

}

.wraper-parte1{
	margin-left: 15px;
}

@media screen and (max-width:  565px){

.chamada1{
	max-width: 600px;
	margin: 180px 0px;
	/*margin-right: 130px;*/
}

.sessao-2 img{
	display: none;
}

.parte-1{

	width: 100%;
}

.wraper-parte1 {
	margin-left: 15px;
}

.parte-2{

	width: 100%;
}
	


}
